@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,500;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Initialising variables for future references */

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    color: var(--primary-text-color);
    max-width: 100vw;
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3
{
    font-size: 1.5 rem;
}

p{
    font-family: 'Roboto' , sans-serif;
    font-size: 1.25rem;
    color: #555;
    line-height: 30px;

}

ul{
    list-style-type: none;
}

a
{
    display: inline-block;
    text-decoration: none;
}

/* Top - Banner */
.top-banner
{
    background-color: #3acbff;
    background-image: url('/assets/asset\ 30.png');
    background-size:300px;

    
}

.banner-text
{
    color: white;
    text-align: center;
    /* text-transform:uppercase;  */
    padding: 15px 30px;
}


/* Navigation bar */
.company-logo img
{
    width: 200px;
}

.main-nav
{
    margin-top: 20px;
    justify-content: space-between;

}

.nav-links
{
    flex-basis: 730px;
}

.nav-links ul
{
    justify-content: end;
    gap:40px; 
}

.hover-link
{
    color: var(--primary-text-color);
    transition: color 0.2s ease-out;
}

.hover-link:hover
{
    color: var(--accent-color);
}

/* HERO SECTION */
header
{
    padding: 50px var(--padding-inline-section) 0;
}

.header-section
{
    justify-content: center;
    gap: 50px;
}

.header-left 
{
    max-width: 40vw;
}


.header-left h1
{
    margin-top: 20px;
    margin-bottom: 5px;
}

.get-started-btn
{
    margin-top: 20px;
}


.header-right img
{
    width: 600px;
}



/* Utility classes */

.small-bold-text
{
    font-size: 1rem;
    font-weight:700 ;
    text-align: center;
}

.container
{
    max-width: 1180px;
    margin-inline:auto;
    padding-inline:var(--padding-inline-section);
    overflow: hidden;
}

.flex
{
    display: flex;
    align-items: center;
}

.primary-button
{
    background-color: var(--accent-color);
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 600;
    color:white !important;
    transition: all 0.2s ease-in-out;
}

.primary-button:hover
{
    background-color: var(--accent-color-dark);
}

.secondary-button
{
    padding: 12px 24px;
    border: 0.5px solid black;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
}

.secondary-button:hover
{
  
   color: var(--accent-color);
   border-color: var(--accent-color);
}

/* COMPANIES SECTION */

.companies-header
{
    margin: 20px 0;
    color: var(--primary-text-color);
    font-size: 1.2rem;
}

.logo
{
    height: 55px;
    filter: grayscale(100);
    transition: filter 0.2s ease-in-out;
    /* border: 1px solid red; */
    padding: 5px ;

}

.logo:hover
{
    filter: none;
}

@keyframes slide {
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX(-100%);

    }
}

.logos {
    overflow: hidden;
    width: 100vw;
    background-color: white;
    white-space: nowrap;
    padding: 6px 50px;
    justify-content: space-evenly; /* Ensure equal spacing */

}


.logos-slide
{
    display: inline-block;
    animation: 35s slide linear infinite;

}

.logos-slide img{
    display: inline-block;
    margin: 0 20px;
}

.logos:hover .logos-slide
{
    animation-play-state: paused;
}

/* Features Section */

.features-section
{
    margin-top: 30px;
    background-image: url("/assets/asset\ 32.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.features-section h2
{
    margin-bottom: 20px;
}



.features-header
{
    text-align: center;
}

.features-area
{
   justify-content: space-evenly;
   gap: 20px;
   margin-top:20px;
   flex-wrap: wrap;
   padding: 5px;

}

.features-cards
{
    /* border: 2px solid red; */
    /* border-radius: 6px; */
    padding: 10px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    max-width: 25%;

}


/* Big features section */

.big-features-section
{
    margin:30px;
    padding: 30px var(--padding-inline-section) 0;
}

.feature-img img
{
    width:500px;
}

.big-features-container
{
    display: flex;
    justify-content: center;
    gap:50px;
}


/* Examples section */

.example-header
{
    text-align: center;
}
.example-header a
{
    margin-top: 20px;
}

.examples-area
{
    gap: 20px;
    /* width: 100vw; */
}
.example-card
{
    width: 23%;
    position: relative;
    min-height: 300px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) , rgba(0, 0 , 0, 0.8)) , url('/assets/asset\ 35.jpeg');
    background-size: cover;
    filter: grayscale(30);

    /* filter: blur(100%); */
    margin: 20px;
    transition: all 0.5 linear;
    border-radius: 5px;
}

.example-card:nth-child(2)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) , rgba(0, 0 , 0, 0.8)) , url('/assets/asset\ 36.jpeg');
}

.example-card:nth-child(3)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) , rgba(0, 0 , 0, 0.8)) , url('/assets/asset\ 37.jpeg');
}

.example-card:nth-child(4)
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) , rgba(0, 0 , 0, 0.8)) , url('/assets/asset\ 34.jpeg');
}

.card-text
{
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 10px;
    display: none;
    
}

.example-card:hover .card-text
{
    display: block;
    /* background-color: #919191; */
    /* text-shadow: 0 0 50px black; */
}

.example-section
{
    background-color: #91919129;
    padding: 15px;
}
.example-card:hover
{
    filter: none;
    box-shadow: 0 0 10px #888;
    padding: 10px;
}
